@model Coursat.Models.CourseLessons

@{
    ViewData["Title"] = "Lesson Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="section-title bg-white text-center text-primary px-3">@ViewData["Title"]</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeItemAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeItemAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a> |
    <a asp-action="Index"> <i class="fa-solid fa-angle-left"></i> Back to List</a>
</div>
