@model IEnumerable<Coursat.Models.CourseLessons>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class=" btn btn-primary"
       asp-action="Create"
       asp-route-CourseId="@ViewBag.CourseId">
        <i class="fa-solid fa-plus"></i> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeItemAdded)
            </th>

            <th>Control</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeItemAdded)
            </td>

            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"> <i class="fa-solid fa-pen-to-square"></i> </a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"> <i class="fa-solid fa-info"></i> </a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <i class="fa-solid fa-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>

   